
.services-content {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(91, 135, 229, 0.3), 0 6px 20px 0 rgba(91, 135, 229, 0.3);
    -moz--box-shadow: 0 4px 8px 0 rgba(91, 135, 229, 0.3), 0 6px 20px 0 rgba(91, 135, 229, 0.3);
    -webkit-box-shadow: 0 4px 8px 0 rgba(91, 135, 229, 0.3), 0 6px 20px 0 rgba(91, 135, 229, 0.3);
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 150px;
}

.services-content:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(255, 77, 0, 0.2), 0 6px 20px 0 rgba(255, 77, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(255, 77, 0, 0.2), 0 6px 20px 0 rgba(255, 77, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(255, 77, 0, 0.2), 0 6px 20px 0 rgba(255, 77, 0, 0.2);
}

.services-main--title {
    font-size: 56px;
    letter-spacing: -0.05em;
    font-weight: 900;
    white-space: pre-wrap;
    height: .5em;
}

.services-main--sub-title {
    font-size: 16px;
    margin-bottom: 48px;
    
}

.services-content > 
.services-info  > 
.row {
    display: flex;
    justify-content: space-around;
}

.service-items {
    width: 100%;
    height: 100%;
}

.services-content > 
.services-info  > 
.row 
h4 {
    font-family: inherit;
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
    font-size: 24px;
}

.services-content > 
.services-info > 
.row  
span {
    background: transparent;
    border: 3px solid #5B86E5;
    color: hsla(221, 73%, 63%, 0.906);
    width: 112px;
    height: 112px;
    display: inline-block;
    border-radius: 50%;
    font-size: 36px;
    line-height: 120px;
}

@media (max-width: 760px) {
    .services-content > 
    .services-info  > 
    .row {
        display: block;
        justify-content: space-around;
    }
}