
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  height: 56px;
  padding: 0;
  margin: 0;
}

.toolbar__navigation {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  align-items: center;
}

.spacer {
  flex: 1;

}


.toolbar_navigation-items  a {
  text-decoration: none;
  color: white;
  padding: 0 .5rem;
  cursor: pointer;
}

.toolbar_navigation-items a {
  font-weight: 800;
}

.hidden {
  visibility: hidden;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: aquamarine;
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }

  .toolbar__logo {
    margin-top: 7.5px;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}