.toggle-button > i {
    color: white;
    font-size: 30px;
    position: absolute;
    width: 50px;
    height: 100%;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.toggle-button > i:focus {
    outline: none;
}