
.mission-content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 87px;
    padding-bottom: 181px;
}

.mission-intro {
    font-size: 32px;
    line-height: 45px;
    letter-spacing: -0.022em;
    color: #000;
    max-width: 1200px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.mission-side-note {
    font-size: 16px;
    font-style: italic;
    max-width: 200px;
}


.btn-more-info {
    background-color: transparent;
    border: 3px solid darkorange;;
    color: darkorange;;
    font-weight: 900;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}


@media only screen and (min-width: 300px) and (max-width: 719px) {
    .mission-intro {
        font-size: 24px;
        line-height: 35px;
        margin-left: -2px;
        letter-spacing: -0.7px;

        -moz-hyphens: none;
        -ms-hyphens: none;
        -webkit-hyphens: none;
        hyphens: none;
    }

} 

