.my-tools-container {
    text-align: center;
    max-width: 600px;
    margin: 250px auto 250px auto;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
   
}

.tools {
    width: 100px;
}

.tools:hover {
    transform: scale(1.35);
    /* -webkit-box-shadow: 0 4px 8px 0 rgba(255, 77, 0, 0.2), 0 6px 20px 0 rgba(255, 77, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(255, 77, 0, 0.2), 0 6px 20px 0 rgba(255, 77, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(255, 77, 0, 0.2), 0 6px 20px 0 rgba(255, 77, 0, 0.2);
    border-radius: 10px; */
}

.t-v {transition: all 300ms;}
.t-g {transition: all 300ms;}
.t-a {transition: all 300ms;}
.t-cc {transition: all 300ms;}

.my-tools-main--title {
    text-align: center;
    padding-bottom: 80px;
    font-size: 56px;
    letter-spacing: -0.05em;
    font-weight: 900;
    white-space: pre-wrap;
    height: .5em;
}


/* Email  */

.email-container {
    border-radius: 20px;
    margin-top: 30vh;
    padding: 30px 15px;
    box-shadow: 0 4px 8px 0 rgba(91, 135, 229, 0.3), 0 6px 20px 0 rgba(91, 135, 229, 0.3);

}

.email-container:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(255, 77, 0, 0.2), 0 6px 20px 0 rgba(255, 77, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(255, 77, 0, 0.2), 0 6px 20px 0 rgba(255, 77, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(255, 77, 0, 0.2), 0 6px 20px 0 rgba(255, 77, 0, 0.2);
}

.email-title--main {
    min-width: 10rem;
    font-size: 32px;
    line-height: -10;
    letter-spacing: -0.022em;
    color: #000;

}


.email-link {
    font-size: 20px;
}

.email-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 760px) {
    .row {
        display: inline;
    }

    .tools {
        margin: 10px 0;
    }
}